{% extends "base.html" %}
{% load static %}
{% block css_files %}
{% comment %} <link rel="stylesheet" href="{% static "challanges/challange.css" %}"> {% endcomment %}
<link rel="stylesheet" href="{% static "challanges/includes/challange.css " %}">
<link rel="stylesheet" href="{% static "challanges/includes/header.css" %}">
{% endblock %}
{%block page_title%}
<title>{{month_value|title}}</title>
{% endblock%}


{% block content%}
{% include "./includes/header.html"  with active_page="challange" %}

<div class="custom-center">

    <h1>{{ month_value|title  }} Challange</h1>
    {% if text is not None%}
    <h2> {{  text }}</h2>
    {% else %}
    <p class="fallback"> There is no Challange for this month. You can rest !</p>
    {% endif %}

</div>

{% endblock%}
